# =========================
# CRÍTICO - SEGREDOS
# =========================
.env
*.env
.env.*

# =========================
# DJANGO
# =========================
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# =========================
# BACKUPS / DUMPS / EXPORTS
# =========================
*.backup
*.bak
*.dump
*.xml
temp_exports/

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# VIRTUAL ENV
# =========================
venv/
env/

# =========================
# FRONTEND (PREVENTIVO)
# =========================
node_modules/
dist/
build/
