# CRÍTICO - Não commitar!
.env
*.env
.env.*

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Virtual Environment
venv/
env/