{% extends "admin/base_site.html" %}
{% load static %}


{% block branding %}
  <h1 id="site-name">
    <a href="{% url 'admin:index' %}" style="display:flex;align-items:center;gap:10px;">
      <img src="{% static 'img/logo.png' %}" alt="RFID FLOW" style="height:34px;width:auto;">
      <span>Administração RFID FLOW</span>
    </a>
  </h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/admin-custom.css' %}">
{% endblock %}

